<!-- Main Content Area -->
<div class="container mt-4 mb-4">
  <div class="card shadow-sm p-4 rounded-3" style="background-color: #FFFFFF;">
    <h3 class="fw-bold mb-4 pt-2">Modification de votre profil</h3>

    <div class="mb-3">
      <label class="form-label fw-semibold">Email : <%= @user.email %> (Non Modifiable)exi</label>
    </div>

    <%= form_with(model: @user, url: user_path(@user), method: :patch, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h5 class="alert-heading">
            <%= pluralize(@user.errors.count, "erreur") %> 
            <%= @user.errors.count == 1 ? "a empêché" : "ont empêché" %> 
            l'enregistrement de cet utilisateur :
          </h5>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :first_name, "Prénom", class: "form-label fw-semibold" %>
          <%= form.text_field :first_name, class: "form-control" %>
        </div>

        <div class="col-md-6 mb-3">
          <%= form.label :last_name, "Nom", class: "form-label fw-semibold" %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :age, "Âge", class: "form-label fw-semibold" %>
          <%= form.number_field :age, class: "form-control" %>
        </div>

        <div class="col-md-6 mb-3">
          <%= form.label :address, "Adresse", class: "form-label fw-semibold" %>
          <%= form.text_field :address, class: "form-control" %>
        </div>

        <div class="col-md-6 mb-3">
          <% Avatar.all.each do |avatar| %>
            <%= form.radio_button :avatar_url, avatar.url  %>
            <img src="<%= avatar.url %>" alt="Option Image" style="width: 50px; height: 50px;">
          <% end %>
        </div>
      </div>

      <div class="actions mt-4 d-flex justify-content-between align-items-center">
        <div data-controller="bee-animation" data-bee-animation-type-value="update" style="position: relative;">
          <%= form.submit "Modifier le profil", class: "btn btn-warning", id: "updateProfileSubmitButton", data: { bee_animation_target: "button" } %>
          <img id="smallBeeOnUpdateProfileButton"
               src="https://i.postimg.cc/1Xf6vLRL/image-1-removebg-preview-1.png"
               alt="Small Bee on Update Profile Button"
               class="bee-pulse"
               data-bee-animation-target="beeIcon">
        </div>
        <%= link_to "Annuler", user_path(@user), class: "btn btn-outline-secondary" %>
      </div>
    <% end %>

  </div> <!-- End of card -->
</div> <!-- End of container -->
