<div class="vehicle-info-window-simple">
  <h6 class="vehicle-info-title mb-2"><%= vehicle.brand %> <%= vehicle.model %></h6>
  
  <div class="vehicle-info-details-simple">
    <div class="info-line">
      <i class="fa-solid fa-map-marker-alt text-warning"></i>
      <span><%= vehicle.localization %></span>
    </div>
    <div class="info-line">
      <i class="fa-solid fa-tag text-warning"></i>
      <span><%= vehicle.category %></span>
    </div>
    <div class="info-line price-line">
      <i class="fa-solid fa-euro-sign text-warning"></i>
      <strong class="text-warning"><%= vehicle.daily_price %>€</strong>/jour
    </div>
  </div>
  
  <%= link_to vehicle_path(vehicle), class: "btn btn-sm btn-warning w-100 mt-2" do %>
    <i class="fa-solid fa-eye"></i> Voir détails
  <% end %>
</div>